.wall{
background-color: #ffffff;
opacity: 0.9;
}
.storename{

font-size: 30px;
font-family: 'Lily Script One', cursive;
text-align: center;

bottom:0px;

}

.logoimg{

height:200px;
text-align: center;
}

.logoimg img{
 margin-left: auto;
    margin-right: auto;
margin-top: auto;
    margin-bottom: auto;
	}